<!DOCTYPE html>
<html>

<head>
  <title>FormClient</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application' %>
<script 
  src="https://code.jquery.com/jquery-3.2.1.min.js" 
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" 
  crossorigin="anonymous"></script>
</head>

<body>
<style type="text/css">
  #loadingDiv {
    display: block;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, .8);
    z-index: 1000;
    text-align: center;
  }
  #loadingDiv span {
    position: fixed;
    top: 20%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: white;
  }
</style>

<header class="usa-header usa-header-extended" role="banner">
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-logo">
      <em class="usa-logo-text">
        <a href="/"
          title="Home"
          aria-label="Home">
          Microservices-powered forms
        </a>
      </em>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>

  <nav role="navigation" class="usa-nav">
    <div class="usa-nav-inner">
      <button class="usa-nav-close">
        <img src="/img/close.svg" alt="close">
      </button>
      <ul class="usa-nav-primary usa-accordion">
        <li>
          <%= link_to '<span>Home</span>'.html_safe, root_path, :class => 'usa-nav-link' %>
        </li>
        <li>
          <%= link_to '<span>Deliver email</span>'.html_safe, email_form_path, :class => 'usa-nav-link' %>
        </li>
        <li>
          <%= link_to '<span>Create Github Issue</span>'.html_safe, github_form_path, :class => 'usa-nav-link' %>
        </li>
      </ul>
    </div>
  </nav>
</header>

  <%= yield %>


</body>
</html>
